<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Backend!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.1/css/bulma.min.css">
  </head>

  <body>
    <header class="nav">
      <div class="container">
        <div class="nav-left">
        </div>
        <span class="nav-toggle">
          <span></span>
          <span></span>
          <span></span>
        </span>
        <div class="nav-right nav-menu">
          <%= link "Home", to: page_path(@conn, :index), class: "nav-item is-active" %>
          <%= link "Forums", to: page_path(@conn, :index), class: "nav-item" %>
          <%= link "New Note", to: page_path(@conn, :index), class: "nav-item" %>
          <%= link "Dashboard", to: page_path(@conn, :index), class: "nav-item" %>
        </div>
      </div>
    </header>

    <%= render @view_module, @view_template, assigns %>
  </body>
</html>
